body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

ul.navbar {
    display: flexbox;
    position: absolute;
    width: 329px;
    height: 26px;
    padding: 8px;
    background: linear-gradient(103.87deg, #F3C15F 28.35%, #E38A85 59.84%);
}

li ul.navbar:hover {
  background-color: #f2c306;
}
