/* Navbar */
ul.navbar {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    top: 0;
    position: fixed;
    width: 100%;
    background: linear-gradient(103.87deg, #F3C15F 28.35%, #E38A85 59.84%);
    overflow: hidden;
}

li {
  display: inline;
  float: right;
}

.root-logo {
  float: left;
}

li a {
  display: block;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Inter";

}

li a:hover {
  font-weight: bold;
  color: white;
}

/* Root */
.create-form-container {
  align-items: center;
  display: grid;
  column-gap: 200px;
  row-gap: 100px;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  
}

/* Form */
input, select {
  width: 45%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 7px solid black;
  border-radius: 20px;
  box-sizing: border-box;
  font-family: "Inter";
  padding: 6px;
}

/* Input Boxes */
input[type=submit] {
  width: 20%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Inter";
}

input[type=submit]:hover {
  background-color: gray;
  text: black;
  border-radius: 15px;
  width: 20%;
  font-family: "Inter";
}

input::placeholder {
  font-size: 15px;
    font-family: "Inter";
    align-self: top;
    float: left;
}

.form {
  background-color: transparent;
  height: 350px;
  width: 500px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: flex-start;
}

/* Fonts */
h2 {
  font-family: "Inter";
  font-size: 50px;
}